body {
    background-color: rgb(35, 17, 52);
}

body * {
    box-sizing: border-box;
}

.box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 28, 72);
    color: #fff;
    width: 404px;
    height: 418px;
    padding: 56px;
}

.user-form {
    margin: auto;
}

.main-box h1 {
    font-style: italic;
}

p.create-account-text {
    color: rgb(255, 255, 255, 0.8);
}

.user-form {
    list-style: none;
}